@import "nd.css";
body{
    padding-top: 0%;
}
li{
    list-style: none;
}
#cont{
    background: var(--clean);
    display: inline-block;
    vertical-align: top;
}
#logout{
    margin: 1em 1em 0 0;
}
#menu{
    background:var(--sunsh);
    border-radius: 0em 0em 0em 2em;
    display: inline-block;
    height: inherit;
    padding-bottom:3%;
    vertical-align: top;
}
#registro{
    text-align:center;
}
#top{
    background:var(--sunsh);
    border-radius: 2em 2em 0em 0em;
    min-height:25%;
    text-align: right;
    width: 100%;
}
#top strong{
    display: block;
    margin: 2em 2em 0 0 ;
    padding-top:2em; 
}
.activ, .activ:hover{
    background: var(--fresh) !important;
    pointer-events:none;
}
.bg-soft{
    opacity: 5;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    margin-bottom: 0.5rem;
}
.bg-soft:hover{
    background: var(--verm);
    color:white;
    transition: 1s;
}
.card-header{
    padding: .5rem 1.25rem;
}
.chkpssw{
    display: inline-block;
    vertical-align: top;
}
.form-control{
    height: calc(2rem + 2px);
    padding: 0.2rem 0.75rem;
}
.form-group{
    margin-bottom:0;
}
.form-group label, .form-group div{
    display: inline-block;
    vertical-align: top;
    margin-bottom:0;
}